/*******************************/
/****** balises generales ******/
/*******************************/
html, body, div, h1, h2, h3, h4, h5, h6, p, blockquote, a, img, small, strong, sub, sup, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, nav, button, section, header, footer, title {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	color: rgb(66, 66, 66);
}

html {
	box-sizing : border-box; /* retire les marges internes et bordures des dimensions de la boite */
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
}

body >* {
	flex: 100%;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

a, a:visited {
	color: rgb(66, 66, 66);
	text-decoration: none;
}

footer  {
	flex: 4 0 100%;
	text-align: center;
	padding: 20px 0px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 2em;
	max-height: 150px;
}

section {
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 10px;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
	font-weight: bold;
}

h2 {
	margin: 5px 0;
}

h3 {
	margin: 40px 0;
}

h4, h5 {
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 2%;
}

h4 {
	font-size: 1.2em;
}

#page{
	background-color: #eceff1;
	display: flex;
	flex-direction: column;
}

#page > aside {
	order: 2;
}

#page > main {
	order: 1;
}

/********************************************/
/*** Mise en page colonne de gauche (aside)**/
/********************************************/

aside {
	width: auto;
	background-color: #c8e6f9;
	color: rgb(66, 66, 66);
	display: flex;
	flex-direction: column;
}

aside img {
	display: none;
}

aside h3 {
    background-color: #fff;
    color: rgb(66, 66, 66);
    text-align: center;
    padding: 5px;
}

.apropos {
	flex-grow: 1;
	line-height: 1.6em;
}

p.content {
    margin-bottom : 20px;
	font-size: 1.2em;
    text-align: center;
}

.icones_loisirs {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 30px;
	color: rgb(66,66,66,1);
}

span .fas {
	color: rgb(66,66,66,1);
}



/********************************************/
/****** Mise en page partie principale ******/
/********************************************/

main {
	margin: 0px 25px ;
	width: auto;
}

main h1 {
    padding: 5px; 
    text-transform: uppercase;
	text-align: center;
}

main h2 {
	text-align: center;
}

/*couleur du prénom */
.couleurnom {
	color: #2e327d;
}

/* trait après les noms et prénoms et titre CV*/
main .titredeco {
	border-bottom: solid;
	border-color: #2e327d;
}

/*photo pour la version mobile*/
.photo_header {
	display: block;
	margin: auto; /*la photo est centrée*/
	border-radius: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 130px;
	height: 130px; 
	overflow: hidden; /*la photo ne dépasse pas du cadre*/
}

section section {
	margin-right: auto;
	font-weight: normal;
}

.titresection {
	border-bottom: solid #2e327d;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin-left: 10px;
	margin-top: 30px;;
	display: flex;
}

.titresection h4 {
	margin-top: 10px;
	margin-bottom: 0px;
	flex-basis: auto;
}
main p {
	margin-top: 0px;
}

.titresection .fas {
	color: #4c50af;
}

.date, .formation {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}

.date .fas,.date .far {
	color: #4c60af;
}

.name {
	font-weight: bold;
}

/*partie divers*/
.recommend {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}



/*********************************************/
/*********************RESPONSIVE**************/
/*********************************************/

/*********************TABLETTES**************/
@media all and (min-width: 764px)
{
	.date {
		flex: 1;
		min-width: 274px;
		max-width: 300px;
	}

	.date p {
		margin-left: 10px;
		padding-left: 10px;
		min-width: 140px;
	}
		
	section {
		display: flex;
		justify-content: left;
	}
	.formation {
		flex: 1.2;
		margin-left: 20px;
		position: relative;
		width: 462px;
	}

	.formation p {
		text-align: left;
	}

	.recommend {
		flex: 1.2;
		margin-left: 20px;
		position: relative;
		width: 462px;
	}
}

/*********************ECRANS**************/
@media all and (min-width: 900px) {
	#container {
		display: flex;
		flex-direction: column;
	}

	#page{
		background-color: #eceff1;
		flex-direction: unset;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#page > aside {
		order: unset;
	}
	
	#page > main {
		order: unset;
	}
	
	aside {
		width: 32%;
		background-color: #c8e6f9;
		color: rgb(66, 66, 66);
	}

	aside img {
	border-radius: 50%;
    margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
    display: block;
	width: 130px;
	height: 130px; 
	overflow: hidden; 
	}

	.photo_header {
		display: none;
	}

	main {
		width: auto; 
		margin: 0px 25px ;
		flex: 1;
	}

	main h1 {
		padding: 5px; 
		text-transform: uppercase;
		text-align: left;
	}

	main h2 {
		padding: 5px; 
		text-align: left;
	}
	
	section {
		justify-content: left;
	}

	section section {
		margin-left: 10px;
		margin-right: auto;
		font-weight: normal;
	}
	
	.titresection {
		border-bottom: solid #2e327d;
		width: 100%;
		justify-content: left;
		align-items: center;
		margin-top: 20px;
		text-align: left;
		margin-left: 10px;
		display: flex;
	}
		
	.titresection h4 {
		margin-top: 10px;
		margin-bottom: 0px;
		flex-basis: auto;
	}
	
}
	
